.App {
  text-align: center;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
.App input {
  margin: 20px 0 20px 0;
  padding-left: 20px;
  width: 300px;
  height: 40px;
  font-size: 18px;
  border-radius: 30px;
  box-shadow: 3px 3px #ccc;
}

.App table {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

table th {
  background-color: #ccc;
  padding: 10px;
}

td {
  padding: 10px;
  border: 1px solid #eee;
}
